/* @import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  /* Độ rộng của thanh cuộn */
}
body {
  font-family: "Vollkorn", serif;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  /* Màu của thanh cuộn */
  border-radius: 5px;
  /* Bo tròn viền của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Màu của thanh cuộn khi di chuột qua */
}
